# Copy to terraform.tfvars (gitignored).
#
# ARNs from: terraform -chdir=../aws-secrets output

slack_bot_token_secret_arn      = "arn:aws:secretsmanager:us-west-1:ACCOUNT:secret:ohmgym-jml/slack-bot-token-XXXXXX"
okta_api_client_id_secret_arn   = "arn:aws:secretsmanager:us-west-1:ACCOUNT:secret:ohmgym-jml/okta-api-client-id-XXXXXX"
okta_api_key_id_secret_arn      = "arn:aws:secretsmanager:us-west-1:ACCOUNT:secret:ohmgym-jml/okta-api-key-id-XXXXXX"
okta_api_private_key_secret_arn = "arn:aws:secretsmanager:us-west-1:ACCOUNT:secret:ohmgym-jml/okta-api-private-key-XXXXXX"

okta_org_url = "https://integrator-2367542.okta.com"
alarm_email  = "ops@example.com"
